//- doctype html
html
  meta(charset="utf-8")
  meta(description="Welcome to Yishan's personal Website")
  title Azzfun
  link(href='/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='/styles/common.css', rel='stylesheet')
  link(href='/styles/index.css', rel='stylesheet')
body
  div(class=css.gravatarWarper)
    img(
      src="https://en.gravatar.com/userimage/65307196/e14157971b0a1a7978014ff011d99cd9.png?size=150"
      class=common.gravatar
    )
  h1(class=css.title) Azzfun
  div(class=css.subtitle)
    i
    h2 お主はお主の地平線を目指して
    i
  ul(class=css.menu)
    li
      a(href="https://azzgo.github.io/blog") 
        i.fa.fa-book.fa-3x
        span Blog
    li
      a(href="https://github.com/azzgo")
        i.fa.fa-github-alt.fa-3x
        span Github
    li
      a(href="https://www.linkedin.com/in/vinongo")
        i.fa.fa-linkedin.fa-3x
        span Linkin
