doctype html
html
  meta(charset="utf-8")
  meta(description="Welcome to Yishan's personal Website")
  title Azzfun
  link(href='/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='/styles/common.css', rel='stylesheet')
  link(href='/styles/index.css', rel='stylesheet')
body
  div(class=css.gravatarWarper)
    img(
      src="http://en.gravatar.com/userimage/65307196/e14157971b0a1a7978014ff011d99cd9.png?size=150"
      class=common.gravatar
    )
  h1(class=css.title) Azzfun
  h2(class=css.subtitle) お主はお主の地平線を目指して
  ul(class=css.menu)
    li
      a(href="http://www.azzfun.net/blog") 
        i.fa.fa-book.fa-3x
    li
      a(href="http://p.azzfun.net")
        i.fa.fa-user.fa-3x
    li
      a(href="https://github.com/azzgo")
        i.fa.fa-github-alt.fa-3x
    li
      a(href="https://www.linkedin.com/in/vinongo")
        i.fa.fa-linkedin.fa-3x
