doctype html
html
  meta(charset="utf-8")
  meta(description="Welcome to Yishan's personal Website")
  title Azzfun
  link(href="/styles/common.css", rel='stylesheet')
  link(href="/styles/index.css", rel='stylesheet')
body
  div(class=css.gravatarWarper)
    img(
      src="http://en.gravatar.com/userimage/65307196/e14157971b0a1a7978014ff011d99cd9.png?size=150"
      class=common.gravatar
    )
  h1(class=css.title) Azzfun
  h2(class=css.subtitle) お主はお主の地平線を目指して
  div
    span blog
    span linkin
    span github
    span rss
